{% extends 'base.html'%}
{% block head %}
<title>Startseite</title>
{% endblock %}

{% block body %}
<header>
   <h1> Stundentracker </h1>
</header>
<div>

    {%if hours|length <1 %}
    <h4>No Data</h4>
    {%else%}
    <table class="table">
        <tr>
            <th> Nummer </th>
            <th> Aktivitäten </th>
            <th> Datum </th>
            <th> Startzeit </th>
            <th> Endzeit </th>
            <th> Gearbeitete Stunden</th>
            <th> Aktionen </th>
        </tr>
        {%for hour in hours %}
        <tr>
            <td>{{hour.id}}</td>
            <td>{{hour.content}}</td>
            <td>{{hour.date_to_execute}}</td>
            <td>{{hour.start_time}}</td>
            <td>{{hour.end_time}}</td>
            <td>{{hour.sum_time}}</td>
            <td>
                <a href="/delete/{{hour.id}}" class="deleteButton">Löschen</a>
                <br>
                <a href="/update/{{hour.id}}" class="updateButton">Bearbeiten</a>
            </td>
        </tr>
        {%endfor %}
    </table>
    {%endif%}
    <div class="container">
        <form action="/" method="POST"> 
            <div>
                <h3>Stunden hinzufügen:</h3>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Aktivität:</label>   
                </div>
                <div class="col-75">
                    <input type="text" name="content" id="content">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Datum:</label>
                </div>
                <div class="col-75">
                    <input type="date" name="date" id="date">
                </div>
            </div class="row">
            <div class="row">
                <div class="col-25">
                    <label>Startzeit:</label>
                </div>
                <div class="col-75">
                    <input type="time" name="starttime" id="starttime" >
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label>Endzeit:</label>
                </div>
                <div class="col-75">
                    <input type="time" name="endtime" id="endtime" >
                </div>
            </div>
            <div class="row">
                <input type="submit" value="hinzufügen">
            </div>  
        </form>
    </div>
    
</div>


{% endblock %}