{% extends 'base.html'%}
{% block head %}

{% endblock %}

{% block body %}
<header>
    <h1> Stundentracker </h1>
</header>
<div class="container">
    <form action="/update/{{hours.id}}" method="POST"> 
        <div>
            <h3>Stunden hinzufügen:</h3>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Aktivität:</label>   
            </div>
            <div class="col-75">
                <input type="text" name="content" id="content" value="{{hours.content}}" >
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Datum:</label>
            </div>
            <div class="col-75">
                <input type="date" name="date" id="date" value="{{hours.date_to_execute}}">
            </div>
        </div class="row">
        <div class="row">
            <div class="col-25">
                <label>Startzeit:</label>
            </div>
            <div class="col-75">
                <input type="time" name="starttime" id="starttime" value="{{hours.start_time}}">
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Endzeit:</label>
            </div>
            <div class="col-75">
                <input type="time" name="endtime" id="endtime" value="{{hours.end_time}}">
            </div>
        </div>
        <div class="row">
            <input type="submit" value="hinzufügen">
        </div>  
    </form>
</div>
{% endblock %}